#Listas e tuplas
Alguns exercícios para você praticar o que apredendeu sobre listas e tuplas

### Crie uma lista

Criar uma lista com suas comidas favoritas e salve na variavel comida

In [1]:
#Escreva seu código aqui
comida =['sorvete','hamburguer','lamen','cheesecake','sushi','café com leite']

In [2]:
#@title  { display-mode: "form" }
comidas = ['pudim', 'batata', 'lasanha']

### Crie uma nova lista com a quantidade de calorias de cada comida que você citou no exercício anterior e salve na variável `calorias`

In [3]:
calorias = [207,295,436,321,255,45]

In [ ]:
#@title  { display-mode: "form" }
calorias = [1500, 300, 800]

### Com a função `sum` descubra a quantidade total de calorias

In [4]:
sum(calorias)

1559

In [ ]:
#@title  { display-mode: "form" }
sum(calorias)

### Use os colchetes para para selecionar o primeiro item da variável `minha_lista`
Dica: Lembre que o Python começa a contar no `0`

In [5]:
# Rode essa célula
a = 25
minha_lista = [1, 2, 3, 'quatro', 5.1, [None, a]]

In [6]:
minha_lista[0]

1

In [ ]:
#@title  { display-mode: "form" }
minha_lista[0]

### Utilize o slice para selecionar do terceiro ao último item da `minha_lista`

In [7]:
minha_lista[2:6]

[3, 'quatro', 5.1, [None, 25]]

In [ ]:
#@title  { display-mode: "form" }
minha_lista[2:]

#  Na seguinte lista multidimensional, acesse o item em negrito
[[1,2,3],[4,5,6],[7,8,[9,**10**]]]
<br><br>
Dica: o índice `-1` seleciona o último elemento da lista

In [8]:
#Rode esta célula
lista_mult = [[1,2,3],[4,5,6],[7,8,[9,10]]]

In [10]:
lista_mult[-1][-1][-1]

10

In [ ]:
#@title  { display-mode: "form" }
lista_mult[-1][-1][-1]

### Em uma linha, desempacote os valores de `minha_tupla` nas variáveis `x`, `y` e `z`

In [11]:
#Rode esta célula
minha_tupla = (10,20,30)

In [13]:
x,y,z=minha_tupla

In [ ]:
#@title  { display-mode: "form" }
x,y,z = minha_tupla

### (Bônus) Você pode usar o slice em uma `string` assim como na lista. Selecione as 6 primeiras letras da variável `texto2`

In [14]:
texto = "Estou estudando Python!"
print(texto[0])
print(texto[12])
print(texto[12:21])

E
n
ndo Pytho

In [15]:
#Rode essa célula
texto2 = "Listas e strings são legais"

In [ ]:
#@title  { display-mode: "form" }
texto2[0:6]

In [17]:
print(texto2[0:6])

Listas

### (Debugging) Encontre e arrume o erro no código abaixo

In [ ]:
bebidas = ['água', 'refrigerante', 'suco']

terceira_bebida = bebidas[3]

IndexError: ignored

In [18]:
bebidas = ['água', 'refrigerante', 'suco']

terceira_bebida = bebidas[2]